html, body {
    height: 100%;
}
body {
    background: #0f3854;
    background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
    background-size: 100%;
}
p {
    margin: 0;
    padding: 0;
}
#clock {
    font-family: 'Share Tech Mono', monospace;
    color: #d4e1e6;
    text-align: left;
    position: absolute;
    left: 20px;
    top: 10px;
    text-shadow: 0 0 20px rgb(255, 255, 255), 0 0 20px rgba(10, 175, 230, 0);
}
#clock p {
    letter-spacing: 0.1em;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
#clock .date, #clock .day, #clock .time {
    margin-bottom: 10px; /* Same margin for all */
}
#clock .time {
    font-size: 40px;
    margin-bottom: 0; /* No bottom margin for the last element */
}
#clock .date {
    font-size: 16px;
}
#clock .day {
    font-size: 16px;
}
