.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.anim {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.custom-date {
  font-family: 'Arial', sans-serif; /* Change to your desired font */
  color: #ffffff; /* Change to your desired color */
  font-weight: bold;
  font-size: 1.2rem; /* Adjust size as needed */
}
.sticky-section {
  position: sticky;
  top: 0;
  z-index: 100; /* Ensure it appears above other content */
}

